<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click="clickl">点击</button>
        <!-- <p v-for="item in arr">{{item}}</p> -->
        <p v-for="item in obj">{{item}}</p>
    </div>
    <script>
    new Vue({
        el:"#app",
        data:{
            // arr:[1,2,3,4,5],
            obj:{
                name:"lm"
            }
        },
        methods:{
            clickl(){
                // Vue.set(this.arr,2,"a")
               Vue.set(this.obj,"name","myself")
            }
        }
    })
    </script>
</body>
</html>